URxvt.font: xft:monospace:size:10
!URxvt.font: xft:terminus:size:25
URxvt.scrollBar: false

*foreground: white
*background: black

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC



URxvt.perl-ext-common: fullscreen,default,clipboard,url-select,keyboard-select,tabbedex
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
IRC*iconFile:              /usr/share/icons/Tango/32x32/apps/internet-group-chat.png
URxvt.tabbed.new-button: true
URXvt.tabbed.reopen-on-close: yes
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Shift-Right: perl:tabbedex:next_tab
URxvt.keysym.Shift-Left: perl:tabbedex:prev_tab
URxvt.tabbed.no-tabbedex-keys: true

! Tabbedex colors
URxvt.tabbed.tabbar-fg:   244
!URxvt.tabbed.tabbar-bg:   16
URxvt.tabbed.tab-fg:      255
URxvt.tabbed.tab-bg:      52
URxvt.tabbed.bell-tab-fg: 255
URxvt.tabbed.bell-tab-bg: 160
URxvt.tabbed.bell-fg:     244
URxvt.tabbed.bell-bg:     17
URxvt.tabbed.title-fg:    28
URxvt.tabbed.title-bg:    16
